.mining_indicator {
   position:absolute;
   right:10px;
   width:30px;
   height:30px;
   display:inline-block;
   padding:0px;
   text-align:right;
   float:right;
   z-index: 10;
}
.mining_indicator span {
   position:absolute;
   display:inline-block;
   width:30px;
   height:30px;
   border-radius:100%;
   background:#3273dc;
   -webkit-animation:mining_indicator 1.6s linear infinite;
   animation:mining_indicator 1.6s linear infinite;
}
.mining_indicator span:last-child {
   animation-delay:-0.8s;
   -webkit-animation-delay:-0.8s;
}
@keyframes mining_indicator {
   0% {transform: scale(0, 0);opacity:0.5;}
   100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes mining_indicator {
   0% {-webkit-transform: scale(0, 0);opacity:0.5;}
   100% {-webkit-transform: scale(1, 1);opacity:0;}
}