html {
  overflow-y: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%3F%3E%0A%3Csvg%20width%3D%22410%22%20height%3D%22164%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D%22paint0_linear%22%20x1%3D%220.997969%22%20x2%3D%220.057969%22%20y1%3D%220%22%20y2%3D%220.999422%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%234254DC%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%220.494792%22%20stop-color%3D%22%233EAFDE%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%2356DDA1%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D%22paint1_linear%22%20x1%3D%220.870025%22%20x2%3D%220.114921%22%20y1%3D%221.084078%22%20y2%3D%22-0.159618%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%23983AE2%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%220.505208%22%20stop-color%3D%22%236173F8%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%234ED3F9%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%20%20%20%20%3ClinearGradient%20id%3D%22paint2_linear%22%20x1%3D%220.166674%22%20x2%3D%220.953815%22%20y1%3D%221.06557%22%20y2%3D%22-0.053071%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20stop-color%3D%22%23D13587%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%220.520833%22%20stop-color%3D%22%23F2496C%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23FD7B68%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2FlinearGradient%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20class%3D%22layer%22%20opacity%3D%220.2%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22m192.03%2C102.37c-0.987%2C0%20-1.801%2C-0.321%20-2.442%2C-0.962c-0.592%2C-0.641%20-0.888%2C-1.431%20-0.888%2C-2.368c0%2C-0.395%200.123%2C-0.888%200.37%2C-1.48l18.87%2C-44.548c0.395%2C-0.888%200.937%2C-1.603%201.628%2C-2.146c0.74%2C-0.592%201.628%2C-0.888%202.664%2C-0.888l0.74%2C0c1.036%2C0%201.899%2C0.296%202.59%2C0.888c0.74%2C0.543%201.307%2C1.258%201.702%2C2.146l18.87%2C44.548c0.247%2C0.592%200.37%2C1.085%200.37%2C1.48c0%2C0.937%20-0.321%2C1.727%20-0.962%2C2.368c-0.592%2C0.641%20-1.381%2C0.962%20-2.368%2C0.962c-0.691%2C0%20-1.332%2C-0.173%20-1.924%2C-0.518c-0.543%2C-0.395%20-0.962%2C-0.913%20-1.258%2C-1.554l-4.81%2C-11.544l-25.16%2C0l-4.81%2C11.544c-0.296%2C0.641%20-0.74%2C1.159%20-1.332%2C1.554c-0.543%2C0.345%20-1.159%2C0.518%20-1.85%2C0.518zm10.582%2C-19.758l19.98%2C0l-9.99%2C-24.05l-9.99%2C24.05zm53.139%2C19.388c-1.283%2C0%20-2.393%2C-0.444%20-3.33%2C-1.332c-0.888%2C-0.937%20-1.332%2C-2.047%20-1.332%2C-3.33l0%2C-43.956c0%2C-0.937%200.321%2C-1.727%200.962%2C-2.368c0.641%2C-0.691%201.431%2C-1.036%202.368%2C-1.036c0.937%2C0%201.727%2C0.345%202.368%2C1.036c0.691%2C0.641%201.036%2C1.431%201.036%2C2.368l0%2C41.884l24.198%2C0c0.937%2C0%201.727%2C0.345%202.368%2C1.036c0.691%2C0.641%201.036%2C1.431%201.036%2C2.368c0%2C0.937%20-0.345%2C1.727%20-1.036%2C2.368c-0.641%2C0.641%20-1.431%2C0.962%20-2.368%2C0.962l-26.27%2C0zm45.005%2C0.37c-0.938%2C0%20-1.727%2C-0.321%20-2.368%2C-0.962c-0.642%2C-0.641%20-0.962%2C-1.431%20-0.962%2C-2.368l0%2C-45.288c0%2C-0.937%200.32%2C-1.727%200.962%2C-2.368c0.641%2C-0.691%201.43%2C-1.036%202.368%2C-1.036l28.786%2C0c0.888%2C0%201.628%2C0.321%202.22%2C0.962c0.641%2C0.592%200.962%2C1.332%200.962%2C2.22c0%2C0.888%20-0.321%2C1.628%20-0.962%2C2.22c-0.592%2C0.592%20-1.332%2C0.888%20-2.22%2C0.888l-25.382%2C0l0%2C16.354l22.792%2C0c0.888%2C0%201.628%2C0.321%202.22%2C0.962c0.641%2C0.592%200.962%2C1.332%200.962%2C2.22c0%2C0.888%20-0.321%2C1.628%20-0.962%2C2.22c-0.592%2C0.592%20-1.332%2C0.888%20-2.22%2C0.888l-22.792%2C0l0%2C19.758c0%2C0.937%20-0.346%2C1.727%20-1.036%2C2.368c-0.642%2C0.641%20-1.431%2C0.962%20-2.368%2C0.962zm48.721%2C0c-0.937%2C0%20-1.727%2C-0.321%20-2.368%2C-0.962c-0.641%2C-0.641%20-0.962%2C-1.431%20-0.962%2C-2.368l0%2C-45.658c0%2C-0.937%200.321%2C-1.727%200.962%2C-2.368c0.641%2C-0.691%201.431%2C-1.036%202.368%2C-1.036c0.937%2C0%201.727%2C0.345%202.368%2C1.036c0.691%2C0.641%201.036%2C1.431%201.036%2C2.368l0%2C45.658c0%2C0.937%20-0.345%2C1.727%20-1.036%2C2.368c-0.641%2C0.641%20-1.431%2C0.962%20-2.368%2C0.962zm37.752%2C0.37c-6.266%2C0%20-12.136%2C-1.184%20-17.612%2C-3.552c-0.592%2C-0.247%20-1.086%2C-0.641%20-1.48%2C-1.184c-0.395%2C-0.592%20-0.592%2C-1.209%20-0.592%2C-1.85c0%2C-0.839%200.271%2C-1.554%200.814%2C-2.146c0.592%2C-0.641%201.332%2C-0.962%202.22%2C-0.962c0.493%2C0%200.962%2C0.099%201.406%2C0.296c4.538%2C2.023%209.398%2C3.034%2014.578%2C3.034c8.633%2C0%2012.95%2C-2.837%2012.95%2C-8.51c0%2C-1.48%20-0.568%2C-2.713%20-1.702%2C-3.7c-1.086%2C-0.987%20-2.442%2C-1.751%20-4.07%2C-2.294c-1.628%2C-0.592%20-3.947%2C-1.283%20-6.956%2C-2.072c-3.996%2C-1.036%20-7.228%2C-2.023%20-9.694%2C-2.96c-2.467%2C-0.987%20-4.588%2C-2.442%20-6.364%2C-4.366c-1.776%2C-1.924%20-2.664%2C-4.489%20-2.664%2C-7.696c0%2C-2.812%200.74%2C-5.353%202.22%2C-7.622c1.48%2C-2.319%203.65%2C-4.144%206.512%2C-5.476c2.91%2C-1.381%206.388%2C-2.072%2010.434%2C-2.072c5.426%2C0%2010.335%2C0.814%2014.726%2C2.442c1.381%2C0.493%202.072%2C1.48%202.072%2C2.96c0%2C0.789%20-0.272%2C1.505%20-0.814%2C2.146c-0.543%2C0.641%20-1.258%2C0.962%20-2.146%2C0.962c-0.296%2C0%20-0.691%2C-0.099%20-1.184%2C-0.296c-3.848%2C-1.332%20-7.82%2C-1.998%20-11.914%2C-1.998c-3.898%2C0%20-7.08%2C0.74%20-9.546%2C2.22c-2.418%2C1.48%20-3.626%2C3.552%20-3.626%2C6.216c0%2C1.776%200.567%2C3.231%201.702%2C4.366c1.184%2C1.085%202.639%2C1.949%204.366%2C2.59c1.776%2C0.592%204.168%2C1.233%207.178%2C1.924c3.897%2C0.937%207.03%2C1.875%209.398%2C2.812c2.417%2C0.937%204.464%2C2.393%206.142%2C4.366c1.726%2C1.973%202.59%2C4.637%202.59%2C7.992c0%2C2.763%20-0.79%2C5.254%20-2.368%2C7.474c-1.579%2C2.171%20-3.799%2C3.873%20-6.66%2C5.106c-2.862%2C1.233%20-6.167%2C1.85%20-9.916%2C1.85z%22%20fill%3D%22%232B357D%22%20id%3D%22svg_1%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m80.1%2C2c-13.807%2C0%20-25%2C11.193%20-25%2C25l0%2C45.8l10%2C-5.8l0%2C-40c0%2C-8.284%206.716%2C-15%2015%2C-15c8.284%2C0%2015%2C6.716%2015%2C15l0%2C22c0%2C2.761%202.239%2C5%205%2C5c2.762%2C0%205%2C-2.239%205%2C-5l0%2C-22c0%2C-13.807%20-11.193%2C-25%20-25%2C-25zm-7.415%2C98.043l0%2C0.098l17.08%2C9.922c9.008%2C-3.779%2015.335%2C-12.682%2015.335%2C-23.063l0%2C-24c0%2C-2.761%20-2.238%2C-5%20-5%2C-5c-2.761%2C0%20-5%2C2.239%20-5%2C5l0%2C24c0%2C8.284%20-6.716%2C15%20-15%2C15c-2.437%2C0%20-4.724%2C-0.577%20-6.747%2C-1.598c-0.226%2C-0.114%20-0.449%2C-0.234%20-0.668%2C-0.359z%22%20fill%3D%22url(%23paint0_linear)%22%20fill-rule%3D%22evenodd%22%20id%3D%22svg_2%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2280.1%22%20cy%3D%22151%22%20fill%3D%22%23D13587%22%20id%3D%22svg_3%22%20r%3D%2210%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m153.9%2C129.651c6.903%2C-11.957%202.807%2C-27.247%20-9.151%2C-34.151l-39.664%2C-22.9l0.023%2C11.56l34.641%2C20c7.175%2C4.143%209.633%2C13.316%205.491%2C20.491c-4.142%2C7.174%20-13.316%2C9.632%20-20.491%2C5.49l-19.052%2C-11c-2.392%2C-1.38%20-5.45%2C-0.561%20-6.83%2C1.83c-1.381%2C2.392%20-0.562%2C5.45%201.83%2C6.831l19.052%2C11c11.958%2C6.903%2027.247%2C2.806%2034.151%2C-9.151zm-81.201%2C-55.443l-0.085%2C-0.049l-17.132%2C9.831c-1.231%2C9.691%203.316%2C19.621%2012.306%2C24.812l20.784%2C12c2.392%2C1.38%205.45%2C0.561%206.83%2C-1.831c1.381%2C-2.391%200.562%2C-5.449%20-1.83%2C-6.83l-20.784%2C-12c-7.175%2C-4.142%20-9.633%2C-13.316%20-5.491%2C-20.49c1.219%2C-2.111%202.863%2C-3.803%204.758%2C-5.044c0.212%2C-0.139%200.427%2C-0.272%200.644%2C-0.399z%22%20fill%3D%22url(%23paint1_linear)%22%20fill-rule%3D%22evenodd%22%20id%3D%22svg_4%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2224.862%22%20cy%3D%2255.151%22%20fill%3D%22%234254DC%22%20id%3D%22svg_5%22%20r%3D%2210%22%20transform%3D%22rotate(120%2C%2024.8619%2C%2055.151)%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22m6.5%2C129.75c6.904%2C11.957%2022.193%2C16.054%2034.151%2C9.15l39.664%2C-22.9l-10.023%2C-5.76l-34.641%2C20c-7.175%2C4.142%20-16.349%2C1.684%20-20.491%2C-5.49c-4.142%2C-7.175%20-1.684%2C-16.349%205.491%2C-20.491l19.052%2C-11c2.392%2C-1.38%203.211%2C-4.438%201.83%2C-6.83c-1.38%2C-2.391%20-4.438%2C-3.211%20-6.83%2C-1.83l-19.052%2C11c-11.958%2C6.904%20-16.055%2C22.193%20-9.151%2C34.151zm88.615%2C-42.601l0.085%2C-0.049l0.053%2C-19.752c-7.777%2C-5.912%20-18.651%2C-6.939%20-27.641%2C-1.749l-20.784%2C12c-2.392%2C1.381%20-3.211%2C4.439%20-1.831%2C6.83c1.381%2C2.392%204.439%2C3.211%206.831%2C1.83l20.784%2C-12c7.175%2C-4.142%2016.348%2C-1.684%2020.491%2C5.491c1.218%2C2.11%201.862%2C4.38%201.989%2C6.642c0.014%2C0.252%200.022%2C0.505%200.023%2C0.757z%22%20fill%3D%22url(%23paint2_linear)%22%20fill-rule%3D%22evenodd%22%20id%3D%22svg_6%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%22135.538%22%20cy%3D%2255.249%22%20fill%3D%22%23983AE2%22%20id%3D%22svg_7%22%20r%3D%229.999992%22%20transform%3D%22rotate(-120%2C%20135.538%2C%2055.2489)%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.main {
  display: flex;
  flex-flow: column;
  height: 100%;
  padding-top: 10pt;
}

.main .row {
  /*border: 1px dotted grey;*/
}

.main .row.header {
  flex: 0 1 auto;
  min-height: 42px;
}

.main .row.page {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  margin-left: 10pt;
  margin-right: 10pt;
  overflow-y: auto;
  padding: 0.2rem;
}

.main .row.status {
  flex: 0 1 auto;
  background-color: #f4f4f4;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

/* ========================================== */

@media screen and (min-width: 769px) {
  .modal-content,
  .modal-card {
    width: 100%;
    max-width: calc(100vw - 60px);
  }
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.76);
}

#new_domain_dialog_box {
  min-height: 480px;
}

.delete {
  position: absolute;
  top: 1.0rem;
  right: 1.25rem;
}

/*.tabs li.is-active a {
  border-bottom-color: #3298dc;
  color: #3298dc;
}*/

.container {
  margin: 10pt;
}

.textarea {
  overflow-y: auto;
}

.message {
  min-height: 2rem;
}

.notification.mini {
  position: absolute;
  z-index: 100;
  width: 50%;
}

.notification.mini.is-warning {
  position: absolute;
  top: 10pt;
  right: 10pt;
}

.notification.mini.is-danger {
  position: absolute;
  bottom: 30pt;
  right: 10pt;
}

.notification.mini.is-success {
  position: absolute;
  bottom: 30pt;
  right: 10pt;
}

.container.is-fluid.cards-container {
  display: flex;
  flex-grow: 0;
  /*gap: .8em; supported only in Firefox/Edge/Chrome */
  justify-content: center !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.container.is-fluid.cards-container .card:not(:last-child) {
  margin-right: 0.8rem;
}

.w100 {
  width: 100%;
}

.table {
  background-color: transparent;
}

th, td {
  white-space: nowrap;
}

.table thead td, .table thead th {
  border-width: 0 0 1px;
}

.table tbody tr td,
.table tbody tr th {
  border-bottom-width: 0;
}

.table.is-hoverable tbody tr:not(.is-selected):hover,
.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover
.table.is-hoverable.is-fullwidth tbody tr:not(.is-selected):hover {
  background-color: rgba(250, 250, 250, 0.7);
}

nav.level {
  width: 100%;
  position: absolute;
  bottom: 6em;
}

.list {
  overflow-y: auto;
}

.icon > svg > path {
  fill: #4a4a4a;
}

.tabs > ul > li.is-active > a > span.icon > svg > path {
  fill: #3273dc;
}

.control > span.icon > svg > path {
  fill: #dbdbdb;
}

.is-danger > span.icon > svg > path {
  fill: #f14668;
}

.is-danger:hover > span.icon > svg > path {
  fill: #ffffff;
}
