[Unit]
Description=alfis
Wants=network.target
Wants=alfis-default-config.service
After=network.target
After=alfis-default-config.service

[Service]
User=alfis
Group=alfis

ProtectHome=true
ProtectSystem=true

SecureBits=keep-caps
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

SyslogIdentifier=alfis
WorkingDirectory=/var/lib/alfis
ExecStart=/usr/bin/alfis -n -c /etc/alfis.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
