[Unit]
Description=ALFIS default config generator
ConditionPathExists=|!/etc/alfis.conf
ConditionFileNotEmpty=|!/etc/alfis.conf
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
User=alfis
Group=alfis
StandardOutput=file:/etc/alfis.conf
ExecStart=/usr/bin/alfis -g
