[package]
name = "alfis"
version = "0.8.2"
authors = ["Revertron <alfis@revertron.com>"]
edition = "2021"
build = "build.rs"
readme = "README.md"
homepage = "https://alfis.name"
repository = "https://github.com/Revertron/Alfis"
exclude = ["blockchain.db", "alfis.toml"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
getopts = "0.2.21"
log = "0.4.17"
simplelog = "0.12.0"
toml = "0.5.9"
digest = "0.10.2"
sha2 = "0.10.5"
ed25519-dalek = "1.0"
x25519-dalek = "1.2"
ecies-ed25519 = "0.5"
chacha20poly1305 = "0.9.1"
signature = "1.6"
blakeout = "0.3.0"
num_cpus = "1.13.1"
byteorder = "1.4.3"
serde = { version = "1.0.144", features = ["derive"] }
serde_json = "1.0.85"
bincode = "1.3.3"
serde_cbor = "0.11.2"
base64 = "0.13.0"
num-bigint = "0.4.3"
num-traits = "0.2.15"
chrono = { version = "0.4.20", features = ["serde"] }
time = "0.3.14"
rand = { version = "0.8.5", package = "rand" }
rand-old = { package = "rand", version = "0.7.0" } # For ed25519-dalek
sqlite = "0.26.0"
uuid = { version = "1.1.2", features = ["serde", "v4"] }
mio = { version = "0.8.4", features = ["os-poll", "net"] }
ureq = { version = "2.5", optional = true }
lru = "0.7.8"
derive_more = "0.99.17"
lazy_static = "1.4.0"

# Optional dependencies regulated by features
web-view = { version = "0.7.3", features = [], optional = true }
tinyfiledialogs = { version = "3.9.1", optional = true }
open = { version = "3.0.2", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["impl-default", "wincon", "shellscalingapi"] }
thread-priority = "0.9.2"

[target.'cfg(any(target_os = "linux", target_os = "freebsd", target_os = "openbsd", target_os = "netbsd"))'.dependencies]
thread-priority = "0.9.2"

[build-dependencies]
winres = "0.1.12"

[dev-dependencies]
serde_bytes = "0.11.7"
serde_derive = "1.0.126"

[profile.release]
opt-level = 3
lto = true
strip = true  # Automatically strip symbols from the binary.

[profile.dev]
opt-level = 2

[profile.test]
opt-level = 2

[package.metadata.winres]
ProductName="ALFIS"
FileDescription="Alternative Free Identity System"

[features]
webgui = ["web-view", "tinyfiledialogs", "open"]
edge = ["webgui", "web-view/edge"]
doh = ["ureq"]
default = ["webgui", "doh"]
