[package]
name = "alfis"
version = "0.6.0"
authors = ["Revertron <alfis@revertron.com>"]
edition = "2018"
build = "build.rs"
readme = "README.md"
homepage = "https://alfis.name"
repository = "https://github.com/Revertron/Alfis"
exclude = ["blockchain.db", "alfis.toml"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
getopts = "0.2.21"
log = "0.4.14"
simplelog = "0.10.0"
toml = "0.5.8"
digest = "0.9.0"
sha2 = "0.9.5"
ed25519-dalek = "1.0.1"
x25519-dalek = "1.1.1"
ecies-ed25519 = "0.5.1"
chacha20poly1305 = "0.8.0"
signature = "1.3.0"
blakeout = "0.3.0"
num_cpus = "1.13.0"
byteorder = "1.4.3"
serde = { version = "1.0.126", features = ["derive"] }
serde_json = "1.0.64"
bincode = "1.3.3"
serde_cbor = "0.11.1"
base64 = "0.13.0"
num-bigint = "0.4.0"
num-traits = "0.2.14"
chrono = { version = "0.4.19", features = ["serde"] }
rand = { version = "0.8.3", package = "rand" }
rand-old = { package = "rand", version = "0.7.0" } # For ed25519-dalek
sqlite = "0.26.0"
uuid = { version = "0.8.2", features = ["serde", "v4"] }
mio = { version = "0.7.11", features = ["os-poll", "net"] }
derive_more = "0.99.14"
lazy_static = "1.4.0"

# Optional dependencies regulated by features
web-view = { version = "0.7.3", features = [], optional = true }
tinyfiledialogs = { version = "3.3.10", optional = true }
open = { version = "1.7.0", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["impl-default", "wincon", "shellscalingapi"] }
thread-priority = "0.2.1"

[target.'cfg(target_os = "linux")'.dependencies]
thread-priority = "0.2.1"

[build-dependencies]
winres = "0.1.11"

[dev-dependencies]
serde_bytes = "0.11.5"
serde_derive = "1.0.126"

[profile.release]
opt-level = 3
lto = true

[profile.dev]
opt-level = 2

[profile.test]
opt-level = 2

[package.metadata.winres]
ProductName="ALFIS"
FileDescription="Alternative Free Identity System"

[features]
webgui = ["web-view", "tinyfiledialogs", "open"]
edge = ["webgui", "web-view/edge"]
default = ["webgui"]